{% extends 'admin.html.twig' %}

{% block middle %}
    <header id="page-header">
        <h1>Usuario Empresa</h1>
    </header>
    <div id="content" class="padding-20">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Nuevo Usuario</strong>
            </div><!-- end panel-heading -->
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-sm btn-primary" type="submit" value="Crear" />
                {{ form_end(form) }}
            </div><!-- end panel-body -->
            <div class="panel-footer">
                <div class=" btn-group" role="group">
                        <a class="btn btn-sm btn-warning" href="{{ path('usuario_empresa_index') }}">Volver</a>
                </div>
            </div><!-- end panel-footer -->
        </div><!-- end panel-default -->
    </div><!-- end content -->
{% endblock %}
