{# app/Resources/view/verant/number.html.twig #}


{% block contact %}
    <!-- BUTTON CALLOUT -->
    <a href="{{ path('web_verant_contact') }}" class="btn btn-xlg btn-primary size-20 fullwidth nomargin noradius padding-40">
        <span class="font-lato size-30">
            Did Smarty convinced you? 
            <strong>Contact us &raquo;</strong>
        </span>
    </a>
    <!-- /BUTTON CALLOUT -->
{% endblock %}
